*{
  margin: 0 auto;
  padding: 0;
}

/* header */
.header{
  margin: 50px;
  text-align: center;
  font-size: 50px;
}

/* button and search bar */
.container {
  display: flex;
  margin: 0 auto 32px;
  max-width: 460px;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-radius: 10px;
}

.search-button{
  background-color: #1a214a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
}

.search-icon {
  width: 35px;
}



/* filter buttons */
.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.button button {
  background-color: #1a214a;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}



/* images */
.image-container{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  row-gap:20px;
}

.images{
  width: 300px;
  height: 300px;
}

.images:hover{
  transform: scale(1.1);
  cursor: pointer;
}